<div class="container">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
        </div>
        <h1>Register</h1>
        <form name="form1" novalidate>
                <input type="text"
                       name="username"
                       ng-model="model.user.username"
                       required
                       class="form-control"
                       placeholder="username"
                       ng-required="true"/>
                <span ng-if="form1.$submitted && form1.username.$error.required">Username is required</span>
                <input type="password"
                       name="password1"
                       ng-model="model.user.password1"
                       required
                       class="form-control"
                       placeholder="password"/>
                <span ng-if="form1.$submitted && form1.password1.$error.required">Password is required</span>
                <input type="password"
                       name="password2"
                       ng-model="model.user.password2"
                       required
                       class="form-control"
                       placeholder="verify password"/>
                <span ng-if="form1.$submitted && form1.password2.$error.required">Password Verification is required</span>
                <button class="btn btn-primary btn-block"
                   ng-click="model.register(model.user)">
                        Register
                </button>
                <a class="btn btn-danger  btn-block"
                   href="#/login">Cancel</a>
        </form>
 </div>