html {
    overflow-x: hidden;
}

input.form-control {
    margin-bottom: 5px;
}


.list-group-item {
    border: 0px;
}

input,
textarea {
    margin-bottom:5px;
}

body {
    padding-top: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 60px;
    margin-top: 5px;
}

.no-left-padding {
    padding-left: 0px;
}

.no-left-margin {
    margin-left: 0px;
}


.col-sm-8 .glyphicon-chevron-left{
    padding-right: 15px;
}

.col-sm-4 .glyphicon-chevron-left{
    padding-right: 15px;
}

.navbar .row .col-sm-8{
    border-left: none;
}
.row .col-sm-8{
    min-height: 100%;
}

.wbdv-left-pane {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    overflow: auto;
}
.wbdv-right-pane {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 52px;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}

.navbar-default{
    background-color: #337ab7;
}
.navbar-default .navbar-brand {
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.btn {
    border-radius: 0px;
}

.navbar-header a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

label{
    padding-top: 5px;
}

textarea{
    overflow: hidden;
}

.btn {
    margin-top: 10px;
    border-radius: 5px;
}

.btn-space{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-space-red{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.jga-toolbar{
    position: absolute;
    right: 7px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
}

.jga-toolbar .glyphicon-align-justify{
    color: black;
    padding-left: 3px;
}


.row h1{
    display: inline;
}

h3{
    display: inline;
}

h5{
    display: inline;
}

img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

iframe{
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/*.navbar>.container-fluid .navbar-brand{*/
    /*margin-left: -15px; */
/*}*/

.web-dev-blue{
    color: #337ab7;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-text{
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-brand{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -15px;
}

.navbar-brand {
    color: #777;
    padding-left: 20px;
}

.web-dev-profile{
    margin-left: -15px;
}

.form-group{
    margin-left: 10px;
    margin-right: 10px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}



