<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="name">
</div>
<span class="form-group"><b>HTML</b></span>
<div class="form-group" ng-model = "model.widget.text" text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'], ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'], ['indent','outdent'],['html']]">
</div>
<div class="form-group">
    <label for="size">Size</label>
    <input ng-model = "model.widget.size" type="text" class="form-control" id="size" placeholder="size">
</div>