<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="name">
</div>
<div class="form-group">
    <label for="text">Text</label>
    <input ng-model = "model.type" type="email" class="form-control" id="text" placeholder="text">
</div>
<div class="form-group">
    <label for="url">URL</label>
    <input ng-model = "model.url" type="text" class="form-control" id="url" placeholder="url">
</div>
<div class="form-group">
    <label for="width">Width</label>
    <input ng-model = "model.width" type="text" class="form-control" id="width" placeholder="width">
</div>