<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/profile/{{model.userId}}" class="glyphicon glyphicon-chevron-left">
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/new" class="glyphicon glyphicon-plus">
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Websites
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <a href="#/user/{{model.userId}}/website/{{website._id}}/page" class="body-text-custom">{{website.name}}</a>
                    <a href="#/user/{{model.userId}}/website/{{website._id}}" class="glyphicon glyphicon-cog pull-right body-text-custom"></a
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile/{{model.userId}}" class="glyphicon glyphicon-user"> 
            </a>
        </div>
    </div>
</nav>