<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Widgets
            </a>
        </div>
    </div>
</nav>

    <div ng-repeat="widget in model.widgets">
        <div class="container-fluid">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="jga-toolbar">
                                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                                    <span class="glyphicon glyphicon-align-justify  pull-right"></span>
                                </a>
                                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                            <div ng-switch="widget.widgetType">
                                <div ng-switch-when="HEADER">
                                    <h1>{{widget.text}}</h1>
                                </div>
                                <div ng-switch-when="IMAGE">
                                    <img ng-src="{{widget.url}}" />
                                </div>
                                <div ng-switch-when="YOUTUBE">
                                    <iframe width="100%" frameborder="0" ng-src="{{model.getYouTubeEmbedUrl(widget.url)}}"/>
                                </div>
                                <div ng-switch-when="HTML" ng-bind-html="model.getTrustedHtml(widget.text)">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile/{{model.userId}}"> 
                <span class="glyphicon glyphicon-user"> 
                </span> 
            </a>
        </div>
    </div>
</nav>