<!DOCTYPE html>

<div class="form-group">
    <label for="name">Name</label>
    <input ng-model = "widget.name" type="text" class="form-control" id="name" placeholder="{{model.name}}">
</div>
<div class="form-group">
    <label for="text">Text</label>
    <input ng-model = "widget.text" type="email" class="form-control" id="text" placeholder="{{model.text}}">
</div>
<div class="form-group">
    <label for="size">Size</label>
    <input ng-model = "widget.size" type="text" class="form-control" id="size" placeholder="{{model.size}}">
</div>