<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website" class="glyphicon glyphicon-chevron-left">
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.wid}}/page/new" class="glyphicon glyphicon-plus">
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Pages
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <a href="#/user/{{model.userId}}/website/{{model.wid}}/page/{{page._id}}/widget" class="body-text-custom">{{page.name}}</a>
                    <a href="#/user/{{model.userId}}/website/{{model.wid}}/page/{{page._id}}" class="glyphicon glyphicon-cog pull-right body-text-custom"></a
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile/{{model.userId}}" class="glyphicon glyphicon-user"> 
            </a>
        </div>
    </div>
</nav>